<template>
  <div id="app" class="app">
    <div class="header">
      <h1>Booking App</h1>
    </div>
  </div>
</template>

<script>
export default{
  name: 'App',
  data: function(){
  },
  methods:{
  },
  created: function(){
  }
}
</script>

<style>

</style>